*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 19, 1);
    font-family: 'Times New Roman', Times, serif;
}

.todo-date-hour{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-size: 15px;
    color: rgb(4, 4, 43);
}

#date{
    flex: 1;
}

.todo-container{
    background-color: blanchedalmond;
    border-radius: 10px;
    width: 500px;
    margin: 3rem auto;
    padding: 1.5rem;
}

.todo-container header{
    padding: 0 1rem 1rem;
    border-bottom: 1px solid grey;
}
.form-control{
    display: flex;
}

.form-control input{
    flex: 1;
    outline: none;
    box-shadow: none;
    border: 1px solid grey;
}

button{
    background-color: white;
    border: none;
    border-radius: 2px;
    transition: 0.3s;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
}

button:hover{
    background-color: rgb(8, 78, 8);
    color: blanchedalmond;
    cursor: pointer;
}

button>i{
    font-weight: bolder;
    padding: 5px;
    pointer-events: none;
}

#cancel-btn {
    margin-top: 1rem;
    border: 1px solid grey;
    height: 1.5rem;
    width: 5rem;
}

#todo-add, #todo-edit{
    padding: 1rem;
    border-bottom: 1px solid grey;
}

#todo-add>p, #todo-edit>p{
    margin-bottom: 1rem;
    font-weight: bold;
}

.form-control > input{
    margin-right: 0.5rem;
}

#todo-input-add{
    padding-left: 0.5rem;
}

#todo-input-add::placeholder{
    padding-left: 0.5rem;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.todo h3{
    flex: 1;
    font-size: 1rem;
}

.todo button{
    margin-left: 1.5rem;
}

.todo-list{
    max-height: 250px;
    overflow: auto;
}

.hide{
     display: none;
}